<%-  if created.new_record? #if the record wasn't saved (validation problem) -%>
  <%= javascript_tag do %>
    enableScheduleButton(<%=@registered_section.section_id%>);
    alert('<%= (created.errors.any? ? created.errors.values.join(' ') : "That didn't work." )%>');
  <% end %>
<%- else -%>
  
  <%- scheduleID = SecureRandom.hex(10) %>
  <div style="display:none" id="<%=scheduleID%>">
    <%= render :partial => 'registered_sections/schedule',
               :locals => { :options => { :schedule => true} } %>
  </div>
  <%= javascript_tag do %>
    $("div.schedule:visible").replaceWith($("div#<%=scheduleID%>").get(0).innerHTML);
    $("div").remove("#<%=scheduleID%>")
    disableScheduleButton(<%=created.section_id%>);
  <% end %>
<%- end -%>
