<% 
	options = (options or {})
	if(options[:wishlist])
		section_list = @wishlist_sections
		title = "Wishlist"
		extra_link = button_to "Add all classes to schedule", register_all_wishlist_sections_path, :method => :post		
		errors = (flash[:wishlist_section] || {})	
	else
		section_list = @registered_sections
		title = "Current Schedule"
		extra_link = link_to "View Graphical Schedule", registered_sections_path, :target => '_blank' 
		errors = (flash[:registered_section] || {})	
	end	
%>

<div class="spacer"></div>
<h1 class="inline"><%=title%></h1>
<div class="right-align schedule-link"><%=extra_link unless section_list.empty?%></div>

<%- if section_list.empty? -%>
<h4 type="<%=title%>" class="empty">Your <%=title.downcase%> is currently empty.</h4>
<%- else -%>
<h4 type="<%=title%>" class="empty" style="display:none">Your <%=title.downcase%> is currently empty.</h4>

<table class="course-list" type="<%=title%>">
  <% for reg_section in section_list %>
    <% section = reg_section.section
    
  	course = section.course %>
  	
  	<%- unique_id = generate_unique_id course.id -%>
		<tbody class="<%= "#{course.code} #{section.code}" %>">
		<tr id="<%=unique_id%>main" class="main" uid="<%=unique_id%>">
		<td class="expander"><%= expand_button %></td>
		<td class="course_code"><%= course.subject%><%=course.number%></td>
		<td class="course_title"><nobr><%= course.name%></nobr></td>
		<td class="course_time">
      <nobr>
      <%= section.days %> 
      <%= section.begin_time.strftime(time_format) %>-<%= section.end_time.strftime(time_format) %>
      </nobr>
    </td>
    <td><%= pluralize(course.credits, "Credit hour") %></td>
    <td class="button">
    <% if options[:schedule] %>
        <%= form_for reg_section, :html => { :method => :delete } do |f| %>
          <%= f.submit 'Remove from Schedule', :class => 'rowRemover', :id => nil %>
        <% end %>
    <% end %>
    <% if options[:wishlist] %>
      <%= form_for reg_section, :html => { :method => :delete } do |f| %>
        <%= f.submit 'Remove from Wishlist', :class => 'rowRemover', :id => nil %>
    <% end %>
       
        
      <%= form_for RegisteredSection.new, :html => { :id => nil, :class => 'newRegisteredSection' } do |f| %>
        <%= render :partial => 'registered_sections/add_button', :locals => { :section_id => section.id } %>
      <% end %>
    <% end %>
    
    </td>
    
 	</tr>
 	
 	<% if (errors[reg_section.id] != nil) %>
 		<tr id="<%=unique_id%>error" class="error" uid="<%=unique_id%>"><td colspan=6 >
 			<%=errors[reg_section.id]%>
 		</td></tr>
 	<% end %>
 	 		 	
	<tr id="<%=unique_id%>extra" class="extra" uid="<%=unique_id%>">
		<td colspan="100">
		  <div class="slider">
	      <div class="description">
	        <p><%=course.description%></p>
	        <table width="100%"><tr>
			      <td width="33%">Professor: <%=section.professor%> </td>
			      <td width="33%">Room: <%=section.room%></td>
			      <td width="33%">Section #<%=section.number%></td>
			    </tr></table>
	      </div>
		    

		  </div>
		</td>
	</tr>
  </tbody>
  <% end %>
</table>

<%- end -%>
