<%- unique_id = generate_unique_id group.id -%>
<div class="<%= group.code %>">
  <div class="row main" id="<%= unique_id %>main" uid="<%=unique_id%>">
    <div class="twocol first group-code"><p><%= group.code %></p></div>
    <div class="tencol last group-name"><p><%= group.name %></p></div>
  </div>

  <div class="extra slider" id="<%= unique_id %>extra" uid="<%=unique_id%>">
    <% options ||= {} %>
    <%= render :partial => 'courses/course_list', 
          :object => group.group_members.map(&:course),
          :locals => { :options => options,
            :wishlist_section_ids => wishlist_section_ids,
            :registered_section_ids => registered_section_ids } %>
  </div>
</div>
