<%- unique_id = generate_unique_id "group#{group.id}" -%>
<tr id="group<%= unique_id %>main" class="main">
  <td class="expander"><%= expand_button %></td>
  <td>GRP <%=group.number%></td>
  <td><%= group.name%></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

<tr id="group<%= unique_id %>extra" class="extra">
  <td colspan="5">
    <div class="slider">
      <% if not defined? options
	    options = {}
	end
      %>
      <%= render  :partial => 'courses/course_list', 
		  :object => group.group_members.map(&:course),
		  :locals => { :options => defined?(options) ? options : {},
			      :wishlist_section_ids => wishlist_section_ids,
			      :registered_section_ids => registered_section_ids } %>
    </div>
  </td>
</tr>
