<div class="landing">
  <div class="row">
    <div class="twelvecol">
      <h2>
        FreshTracks is a fresh approach to college course registration. <%'s/registration/scheduling/'%>
        <%'better slogan'%>
        Add, drop, wishlist, and search for classes.
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="fourcol">
      <div class="roundbox">
        <h1>
          Intuitive
        </h1>
        <p>
          Our number one goal is to make FreshTracks easy to learn and easy to use.
          You won't need to take a class to figure it out.
        </p>
      </div>
    </div>

    <div class="fourcol">
      <div class="roundbox">
        <h1>
          Cost Effective
        </h1>
        <p>
          We <strong>dynamically scale</strong> the number of servers to keep up during peak registration periods.
          By using fewer resources the rest of the year, you only pay for what you need.
        </p>
      </div>
    </div>

    <div class="fourcol last">
      <div class="roundbox">
        <h1>
          Seamless
        </h1>
        <p>
          <%'
          We recognize that every school has a different, existing system for managing courses.
          <br>
          '%>
          We built FreshTracks to be agile and adaptable to your environment, and we will work with you to <strong>integrate</strong> FreshTracks with your other systems.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      <div class="roundbox">
        <h1>
          Try our live demo
        </h1>
        <p>
          Search for classes by name, or sign up for required classes.
          <br>
          Organize your schedule on the Wishlist before your registration date.
        </p>

        <%= form_for :user, :url => users_path do |form| %>
          <%= form.hidden_field :email, :value => "#{generate_unique_id 'test-account'}@mailinator.com" %>
          <%= form.hidden_field :password, :value => 'password' %>
          <%= form.hidden_field :password_confirmation, :value => 'password' %>
          <div class="submit_field">
            <%= form.submit "Log in as a new student" %>
          </div>
        <% end %>

        <%= form_for :session, :url => session_path do |form| %>
          <%= form.hidden_field :email, :value => 'student@ncsu.edu' %>
          <%= form.hidden_field :password, :value => 'password' %>
          <div class="submit_field">
            <%= form.submit "Log in as Stu Dent" %>
          </div>
        <% end %>
      </div>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="fivecol">
      <div class="roundbox">
        <h1>
          We believe:
        </h1>
        <ul>
          <li>
            Students deserve an intuitive interface for scheduling and registering for classes.
            <br>
            We developed FreshTracks with an eye to usability, working closely with students.
            <%'We put students and professors first, and make registering with FreshTracks easy. Many colleges develop their own or buy a registration system that was easier to make than it is to use. '%>
          </li>
          <%"
          <li>
            you shouldn't have to re-learn how to register for classes every semester. Using FreshTracks, it's quick and easy to find what you need to do and get it done; no arcane rituals required.
          </li>
          "%>
          <li>
            It's best to stay focused and simple.
            <%'reword?'%>
            FreshTracks won't handle tuition, housing or homework.
            We make registration quick, and that's it.
            <%'reword?'%>
          </li>
        </ul>
      </div>
    </div>

    <div class="sevencol last">
      <div class="roundbox">
        <h1>Plan ahead</h1>
        <p>
          FreshTracks has an integrated wishlist that lets you plan out your schedule before the registration date.
          When the time comes, it's one click to add all the classes to your schedule.
        </p>

        <img src="/images/landing_wishlist.png" width=571 height=167 alt="Easily add things to your schedule from your wishlist one at a time or all together." />
      </div>
    </div>
  </div><!--row-->

  <div class="row">
    <div class="sevencol">
      <div class="roundbox">
        <h1>
          Know your options
        </h1>
        <img src="/images/landing_degree_audit_wide.png" alt="Select required single classes, or see all the options for a elective category." width=566 height=191 />
        <p>
          Freshtracks shows the classes needed to fulfill requirements.
          These expand, and you can register from the same page.
        </p>
      </div>
    </div>

    <div class="fivecol last">
      <div class="roundbox">
        <h1>Find classes you want</h1>

        <img src="/images/landing_search.png" width=397 height=246 alt="Search for classes and register all from the same page." />

        <p>
          For browsing the course catalog, FreshTracks lets you easily search for classses, and add them to your wishlist or schedule, all from the same page. Now you can finally find that perfect class to fill your last elective.
        </p>
      </div>
    </div>
  </div><!--row-->

</div><!--landing-->
