<tr>
  <td><%=section.professor%></td>    
  <td><%=section.room%></td>
  <td>
    <%=section.days%> 
    <%=section.begin_time.strftime(time_format)%>-<%=section.end_time.strftime(time_format)%>
  </td>
  <td class="button">
    <input  type="button" 
            onclick="$.post('<%= url_for :controller => 'wishlist_classes', :action => 'create', :id => section.id %>')"
            value="Add to Wishlist">
  </td>
  <td class="button">
    <input  type="button" 
            onclick="$.post('<%= url_for(:controller => 'registered_classes', :action => 'create') %>')"
            value="Add to Schedule">
  </td>
</tr>
