<%
  wishlist_section_ids ||= []
  registered_section_ids ||= []
%>

<div class="row <%= section.code %>">
  <div class="threecol first"><p><%=section.professor%></p></div>
  <div class="twocol"><p><%=section.room%></p></div>

  <div class="threecol">
    <p>
      <%- if options[:added] -%>
        Section <%= section.number %>
      <%- else -%>
        <%= section.meeting_times %>
      <%- end -%>
    </p>
  </div>

  <div class="fourcol last button">
    <p>
      <span class="wishlist-button <%=section.id%>">
        <% if options[:show_wishlist_button] %>
          <%= form_for WishlistSection.new, :html => { :id => nil, :class => 'newWishlistSection' } do |f| %>
            <%= render :partial => 'wishlist_sections/add_button', :locals => { :section_id => section.id } %>
          <% end %>
          <% if wishlist_section_ids.include? section.id %>
            <%= javascript_tag do %>
              disableWishlistButton(<%=section.id%>);
            <% end -%>
          <% end %>
        <% end %>
      </span>
      <% if options[:show_schedule_button] %>
        <%= form_for RegisteredSection.new, :html => { :id => nil, :class => 'newRegisteredSection' } do |f| %>
          <%= render :partial => 'registered_sections/add_button', :locals => { :section_id => section.id } %>
          <% if registered_section_ids.include? section.id %>
            <%= javascript_tag do %>
              disableScheduleButton(<%=section.id%>);
            <% end -%>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div><!--last-->

</div><!--row code-->
