<tr>
  <td><%=section.professor%></td>    
  <td><%=section.room%></td>
  <td>
    <% fmtstr = "%I:%M%p" %>
    <%=section.days%> 
    <%=section.begin_time.strftime(fmtstr)%>-<%=section.end_time.strftime(fmtstr)%>
  </td>
  <td class="button">
    <input  type="button" 
            onclick="$.post('<%= url_for :controller => 'wishlist_classes', :action => 'create' %>')"
            value="Add to Wishlist">
  </td>
  <td class="button">
    <input  type="button" 
            onclick="$.post('<%= url_for(:controller => 'registered_classes', :action => 'create') %>')"
            value="Add to Schedule">
  </td>
</tr>
