<tr id="<%=course.id%>main" class="main">
  <td class="expander"><a href="javascript:void(0)" onclick="this.innerHTML = toggle_row('<%=course.id%>')">+</a></td>
  <td><%= course.subject%><%=course.number%></td>
  <td><%= course.name%></td>
  <td><%= pluralize(course.sections.length, "section") %> 
</tr>
