<h1>Register for a Course</h1>

<%= form_tag '/courses', :method => :get do -%>
    <%= text_field_tag 'search', h(params[:search]) %> <%= submit_tag 'Search', :name => nil %>
<% end -%>

<% if @courses.nil? %>
  <div>
    <p>Instructions: Type any part of the course name, number, or code.</p>
    <p>Example: <tt>csc3</tt> - Find CSC 300 level courses.<br>
       Example: <tt>computer</tt> - Find courses with Computer in the title.</p>
  </div>
<% else %>
  Searching for: <%= (params[:search].empty? ? 'All courses' : h(params[:search]) ) %><p/>

  <% options = {:show_wishlist_button => true,
                :show_schedule_button => true} %>

<% if not @courses.empty? %>
  <table class="courseList">
    <%= render :partial => "courses/course", :collection => @courses,
               :locals => { :options => options,
                            :wishlist_section_ids => @wishlist_section_ids,
                            :registered_section_ids => @registered_section_ids } %>
  </table>

<% else %>
<h3>We didn't find any classes that matched your search.</h3>
<% end %>
  <br/>

<% end %>

<% options = {:schedule => true} %>
<%= render :partial => 'registered_sections/schedule', :locals => { :options => options }%>
