<h1>Course Search</h1>

<% form_tag '/courses', :method => :get do -%>
    <%= text_field_tag 'search', h(params[:search]) %> <%= submit_tag 'Submit', :name => nil %>
<% end -%>

<% if @courses.nil? %>
  <div>Instructions: use the search box</div>
<% else %>
  Searching for: <%= (params[:search].empty? ? 'All courses' : h(params[:search]) ) %><p/>

  <% options = {"show_wishlist_button" => true,
                "show_schedule_button" => true} %>
  
  <table class="courseList">
    <%= render :partial => "courses/course", :collection => @courses,
               :locals => { :options => options,
                            :wishlist_section_ids => @wishlist_section_ids,
                            :registered_section_ids => @registered_section_ids } %>
  </table>
  <br/>

<% end %>

<%= render :partial => 'registered_sections/schedule' %>
