<h1>Courses</h1>

<% if @courses.nil? %>
  <% form_tag '/courses', :method => :get do -%>
    <%= text_field_tag 'search' %> <%= submit_tag 'Submit', :name => nil %>
    <div>Instructions: use the search box</div>
  <% end -%>
<% else %>
  Searching for: <%= (params[:search].empty? ? 'All courses' : h(params[:search]) ) %><p/>
  <% for course in @courses %>
    <%= course.name %><br>
  <% end -%>
  <br/>
  Courses for: <%= Semester.find(session[:semester]).name %> <br/>
<% end %>
