<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <%= csrf_meta_tag %>

  <title>FreshTracks</title>

  <!-- The 1140px Grid - http://cssgrid.net/ -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen" /><![endif]-->
  <link rel="stylesheet" href="stylesheets/1140.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media="screen" />

  <%= stylesheet_link_tag 'application', 'jquery-ui-1.8.10.custom' %>
  <% # helper methods below are defined in app/helpers/application_helper.rb %>
  <% include_filename = current_action_include_filename(controller) %>
  <%= stylesheet_link_tag include_filename if css_exists?(include_filename) %>

  <%= javascript_include_tag 'css3-mediaqueries', 'ie-html5', 'jquery-1.5.1.min', 'jquery-ui-1.8.10.custom.min.js', 'rails', 'autocomplete-rails', 'application' %>
  <%= javascript_include_tag include_filename if js_exists?(include_filename) %>

</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="eightcol">
        <h1>FreshTracks</h1>
        &nbsp;
      </div>
      <div class="fourcol last">
        <% if signed_in? && session[:semester] %>
          <p>
            Semester: <%= link_to Semester.find(session[:semester]).name, semesters_path%> | <%= link_to "Sign out", '/sign_out', :method => :delete %> 
          </p>
        <% end %>
      </div>
    </div>
  </div>
</header>

<% if signed_in? %>
  <%
  if(params[:action] == "index")
    case params[:controller]
      when "courses"
        @selected_tab = 'tab1'
      when "degree_requirements"
        @selected_tab = 'tab2'
      when "wishlist_sections"
        @selected_tab = 'tab3'
    end
  end
  %>
<% end %>

<section class="container">
  <% if signed_in? && session[:semester] %>
    <div class="row">
      <div class="twelvecol">
        <nav>
          <ul>
            <li class="tab "<%= ( @selected_tab == 'tab1' ) ? ' id="selected-tab"'.html_safe : '' %>>
              <%= link_to "Class Search", courses_path %>
              <hr class="nav-divider">
            </li>
            <li class="tab "<%= ( @selected_tab == 'tab2' ) ? ' id="selected-tab"'.html_safe : '' %>>
              <%= link_to "Degree Requirements", degree_requirements_path %>
              <hr class="nav-divider">
            </li>
            <li class="tab "<%= ( @selected_tab == 'tab3' ) ? ' id="selected-tab"'.html_safe : '' %>>
              <%= link_to "Wishlist", wishlist_sections_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  <% end %>

  <%= yield %>
</section><!--container-->
</body>
</html>
