<html>
<head>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <% # helper methods below are defined in app/helpers/application_helper.rb %>
  <% include_filename = current_action_include_filename(controller) %>
  <%= stylesheet_link_tag include_filename if css_exists?(include_filename) %>
  <%= javascript_include_tag include_filename if js_exists?(include_filename) %>
</head>
<body>

<ul class="tabList">
  <li class="tab"<%= ( @selected_tab == 'tab1' ) ? ' id="selectedtab"' : '' %>>
  <%= link_to "Browse", {:controller => 'courses', :action => 'index'} %>
  </li>
  <li class="tab"<%= ( @selected_tab == 'tab2' ) ? ' id="selectedtab"' : '' %>>
  <%= link_to "Plan of Work", {:controller => 'requirements', :action => 'index'} %>
  </li>
  <li class="tab"<%= ( @selected_tab == 'tab3' ) ? ' id="selectedtab"' : '' %>>
  <%= link_to "Wishlist", {:controller => 'wishlist_classes', :action => 'index'} %>
  </li>
</ul>
<span style="width: 10em">&nbsp;</span>
<%= link_to Semester.find(session[:semester]).name, semesters_path if session[:semester] %>

<%= yield %>
</body>
</html>
